<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:description="@string/private_app"
        android:icon="@drawable/icon_launcher_teeter"
        android:label="@string/private_app">
        <activity
            android:name="CCoverActivity"
            android:configChanges="screenSize|orientation"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme"
            tools:ignore="DiscouragedApi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="CTeeterActivity"
            android:configChanges="screenSize|orientation"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/Theme"
            tools:ignore="DiscouragedApi" />

        <meta-data
            android:name="android.app.default_searchable"
            android:value="*" />
    </application>
</manifest>
