<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.htc.android.teeter">

    <uses-permission android:name="android.permission.DEVICE_POWER"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:label="@string/str_app_name"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:theme="@style/Theme.FullScreen"
            android:label="@string/str_app_name"
            android:name="CCoverActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/Theme.FullScreen"
            android:label="@string/str_app_name"
            android:name="CTeeterActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.Main"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="android.app.default_searchable"
            android:value="*"/>
    </application>
</manifest>